<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="index">
<head>
<meta charset="UTF-8"></meta>
<title>Home</title>
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="row" layout:fragment="content">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">Image</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
					<td th:text="${user.username}" />
					<td th:text="${user.email}" />
					<td><img alt="ovde treba da bude slika" th:src="*{'/api/user/getimage/'+{user.username}}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>